* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	vertical-align: top;
	box-sizing: border-box;
}

//Allows inline-block children of .container to stack next
//to each other properly with specified % widths
.container {
	font-size: 0;
	* {
		font-size: 16px;
	}
}

a {
	cursor: pointer;
}

// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block
}

body {
	line-height: 1;
}

// ol, ul {
// 	list-style-position: inside;
// }

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea {
	border-radius: 0
}
