.markdown {
	margin-bottom: 60px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
		border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
		padding-bottom: 10px;
		margin-bottom: 18px;
		margin-top: 60px;
		&:first-child {
			margin-top: 0;
		}
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 30px;
	}

	p,
	a,
	li,
	summary,
	details {
		font-size: 18px;
		line-height: 1.6em;
	}

	p {
		margin-bottom: 20px;
		line-height: 1.6em;
	}

	a {
		color: #ffa0a0;
		text-decoration: none;
		transition: 0.2s;
		border-bottom: 1px dotted #ffa0a0;
		&:hover {
			color: #fc6262;
		}
	}

	ol,
	ul {
		margin-left: 20px;
	}

	li {
		list-style: unset;
		margin-bottom: 20px;
	}

	code {
		font-family: monospace;
		border: 1px solid rgba(0, 0, 0, 0.4);
		border-radius: 4px;
		background-color: rgba(0, 0, 0, 0.2);
		padding: 7px 10px;
		display: inline-block;
		margin-right: 4px;
		line-height: 1em;
	}

	table {
		width: 100%;
		border-radius: 5px;
		overflow: hidden;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		thead {
			background-color: rgba(0, 0, 0, 0.3);
		}
		tr:nth-child(2n) {
			background-color: rgba(255, 255, 255, 0.1);
		}
		tr:nth-child(2n - 1) {
			background-color: rgba(255, 255, 255, 0.06);
		}
		td, th {
			padding: 20px;
			vertical-align: middle;
			font-size: 15px;
			&:first-child {
				width: 46%;
				font-family: monospace;
			}
			&:nth-child(2) {
				line-height: 1.4em;
				font-size: 16px;
			}
		}
		th:first-child {
			font-family: "Open Sans", sans-serif;
		}
	}

	details {
		margin-bottom: 20px;
		margin-left: 30px;
		&[open] {
			margin-bottom: 40px;
			summary {
				font-weight: bold;
			}
		}

		p, a, li {
			font-size: 16px;
		}

		code {
			font-size: 14px;
			position: relative;
			top: -3px;
		}
	}	

	summary {
		margin-bottom: 30px;
		cursor: pointer;
		margin-left: -30px;
	}

}
