<!DOCTYPE html>
<html lang="en">
<head>

	<title>Stickers for Discord</title>
	<meta name="description" content="">
	<meta charset="utf-8">
	
	<meta name="theme-color" content="#f4b96b">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="og:title" content="">
	<meta name="og:description" content="">
	<meta name="og:image" content="">

	<link rel="stylesheet" type="text/css" href="resources/css/style.css">
	<link rel="shortcut icon" type="image/ico" href="resources/images/min/favicon.ico" />
	
	<link href="https://fonts.googleapis.com/css?family=Righteous|Rubik:300,400,500,700" rel="stylesheet">

	<script type="text/javascript" src="resources/js/vue.js"></script>
	<script type="text/javascript" src="resources/js/min/zepto.min.js"></script>


</head>
<body>
<div id="app">


	<header>
		<div class="container">
			<a href="/">
				<img src="resources/images/logo.png" alt="Stickers for Discord">
			</a>

			<ul class="main-nav">
				<a href="#"><li>Your Stickers</li></a>
				<a href="#"><li>Servers</li></a>
				<a href="#"><li>Sticker Packs</li></a>
				<a href="#"><li>How to Use</li></a>
				<a href="#"><li>Login</li></a>
			</ul>

		</div>
	</header>

	<main id="landing-page">
		<h1 id="tagline" v-html="tagline"></h1>
		<a href="#" id="add-to-discord-btn">Add to Discord</a>
	</main>


</div>
<script type="text/javascript" src="resources/view-models/index.js"></script>
</body>
</html>